
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color:  #ff7f50;

  position: fixed;
  flex-direction: row;
  border: solid 1px;

  top: 0;
  width: 100%;
  
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-left: 60%;
}

.navbar li {
  flex: 1;
  text-align: center;
}

.navbar a {
  display: block;
  padding: 15px;
  color: rgb(7, 7, 7);
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ff7f50;
}
/* --- Footer --- */
.footer {
  background-color: #ff7f50;
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 10px; 
  bottom: 0;
  width: 100%;
  border: solid 1px;
}

.footer a {
  color: #000000;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
}
